[package]
name = "polars_ds"
version = "0.8.3"
edition = "2021"

[lib]
name = "_polars_ds"
crate-type = ["cdylib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# PyO3
numpy = "0.23" # matrix interop
pyo3 = {version = "0.23", features = ["abi3-py39", "extension-module"]}
pyo3-polars = {version = "0.20", features = ["derive", "dtype-array", "dtype-struct"]}
# Polars
polars = {version = "0.46", features = ["performant", "lazy",
"diff", "array_count", "abs", "cross_join", "rank", "ndarray", "log", 
"cum_agg", "round_series", "nightly","dtype-array", "dtype-struct", "dtype-i128"], default-features = false}
polars-arrow = "0.46.0"
# Numerical / Linear Algebra
rand = "0.8.5"
rand_distr = "0.4.3"
realfft = "3.3.0"
num = "0.4.1"
ordered-float = "4.2.0"
approx = "*"
faer = {version = "0.21", features = ["nightly"]}
faer-traits = {version = "0.21"}
ndarray = {version="0.16"}
cfavml = {version = "0.3.0", features=["nightly"]} # easy simd, wait till Pulp gets better then we can replace
# Data Structures, Iteration Helpers
itertools = "0.12.0"
ahash = ">=0.8.5"
hashbrown = {version = "0.15", features=["nightly"]}
# Serialization
serde = {version = "*", features=["derive"]}
# String related
rapidfuzz = "0.5.0"
inflections = "1.1.1"
# Deprecated
unicode-normalization = "0.1.23"

[profile.release]
codegen-units = 1
strip = "symbols" 
lto = "fat"
