[package]
name = "polars_ds"
version = "0.1.4"
edition = "2021"

[lib]
name = "_polars_ds"
crate-type = ["cdylib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pyo3 = {version = "0.20", features = ["extension-module"]}
pyo3-polars = {version = "0.9", features = ["derive"]}
polars = {version = "0.35.4", features = ["performant", "lazy", "dtype-array", "ndarray", "log", "nightly"]}
num = "0.4.1"
faer = {version = "0.15", features = ["ndarray", "nightly"]}
ndarray = "0.15.6" # see if we can get rid of this
hashbrown = {version = "0.14.2", features=["nightly"]}
itertools = "0.12.0"
aho-corasick = "1.1"
rand = {version = "0.8.5"} # Simd support feature seems to be broken atm
rand_distr = "0.4.3"
realfft = "3.3.0"
rapidfuzz = "0.5.0"

[target.'cfg(any(not(target_os = "linux"), use_mimalloc))'.dependencies]
mimalloc = { version = "0.1", default-features = false }
 
[target.'cfg(target_os = "linux")'.dependencies]
jemallocator = { version = "0.5", features = ["disable_initial_exec_tls"] }


[profile.release]
codegen-units = 1
strip = "debuginfo" 
# lto = "fat"
