[package]
name = "polars_ds"
version = "0.3.2"
edition = "2021"

[lib]
name = "_polars_ds"
crate-type = ["cdylib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pyo3 = {version = "*", features = ["extension-module"]}
pyo3-polars = {version = "0.11", features = ["derive"]}
polars = {version = "0.37", features = ["performant", "lazy", "dtype-array", "array_count", "ndarray","log","nightly"]}
num = "0.4.1"
faer = {version = "0.16", features = ["ndarray", "nightly"]}
serde = {version = "*", features=["derive"]}
ndarray = {version="0.15.6", features=["rayon"]}
hashbrown = {version = "0.14.2", features=["nightly"]}
itertools = "0.12.0"
rand = {version = "0.8.5"} # Simd support feature seems to be broken atm
rand_distr = "0.4.3"
realfft = "3.3.0"
rapidfuzz = "0.5.0"
inflections = "1.1.1"
kdtree = {git = "https://github.com/mrhooray/kdtree-rs.git"}
petgraph = "0.6.4"
ordered-float = "4.2.0"

[target.'cfg(any(not(target_os = "linux"), use_mimalloc))'.dependencies]
mimalloc = { version = "0.1", default-features = false }
 
[target.'cfg(target_os = "linux")'.dependencies]
jemallocator = { version = "0.5", features = ["disable_initial_exec_tls"] }


[profile.release]
codegen-units = 1
strip = "symbols" 
lto = "thin"
