[build-system]
requires = ["maturin>=1.2,<2.0"]
build-backend = "maturin"

[project]
name = "polars_ds"
requires-python = ">=3.9"
version = "0.1.4"

license = {file = "LICENSE.txt"}
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "License :: OSI Approved :: MIT License",
]
authors = [
    {name = "Tianren Qin", email = "tq9695@gmail.com"},
    {name = "Nelson Griffiths", email = "nelsongriffiths123@gmail.com"}
]
dependencies = [
    "polars >= 0.20",
] 

keywords = ["polars-extension", "scientific-computing", "data-science"]

[tool.maturin]
python-source = "python"
features = ["pyo3/extension-module"]
module-name = "polars_ds._polars_ds"

[project.optional-dependencies]
dev = [
    "numpy",
    "pytest >= 7.4.1",
    "pre-commit",
    "scikit-learn",
    "scipy",
    "sphinx"
]

[tool.ruff]
line-length = 100
fix = true
src = ["python"]