[build-system]
requires = ["maturin>=1.3.2"]
build-backend = "maturin"

[project]
name = "polars_ds"
requires-python = ">=3.8"
version = "0.4.2"

license = {file = "LICENSE.txt"}
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "License :: OSI Approved :: MIT License",
]
authors = [
    {name = "Tianren Qin", email = "tq9695@gmail.com"},
]
dependencies = [
    "polars >= 0.20.6, !=0.20.12",
] 

keywords = ["polars-extension", "scientific-computing", "data-science"]

[project.optional-dependencies]
plot = [
    "great-tables >= 0.5",
    "graphviz >= 0.20",
    "hvplot >= 0.9.1" # Polars's plot backend for now, which in term is backed by Bokeh
]

[tool.maturin]
strip = true
python-source = "python"
features = ["pyo3/extension-module"]
module-name = "polars_ds._polars_ds"

# [project.optional-dependencies]

[tool.ruff]
line-length = 100
fix = true
src = ["python"]