# requirements for testing
maturin[patchelf]
polars
numpy
scikit-learn
scipy
pyarrow
pandas
pytest
pytest-benchmark
xicor
category_encoders
copent
astropy
graphviz
altair
vegafusion[embed]
great-tables>=0.9