# requirements for testing
maturin[patchelf]>=1.7; sys_platform == "linux"
maturin>=1.7; sys_platform != "linux"
numpy
scikit-learn<=1.5
scipy
pyarrow
pandas
pytest
pytest-benchmark
xicor
category_encoders
copent
astropy
graphviz
altair
vegafusion[embed]
vl-convert-python>=1.6
great-tables>=0.9
statsmodels